:root {
  --clr-primary-400: #00a1ab;
  --clr-primary-500: #3741a0;

  --clr-accent-400: #00cdac;
  --clr-accent-500: #114243;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #fafafa;
  --clr-neutral-300: #e5e3e8;
  --clr-neutral-400: #4e4e4e;
}

/* ///////////////
  Reset
  ////////////// */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ///////////////
  General styling
  ////////////// */

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0;
  color: #00a1ab;
}

.fs-500 {
  font-size: 1.3125rem;
  margin: 0;
}

.container {
  padding: 0 2em;
  margin: 0 auto;
  max-width: 1000px;
}

/* ///////////////
  Utility classes
  ////////////// */

.bg-light {
  --bg: var(--clr-neutral-400);
  --fg: var(--clr-neutral-100);
  --pop: var(--clr-primary-400);

  color: var(--clr-neutral-400);
  background: linear-gradient(
    -45deg,
    var(--clr-neutral-300),
    var(--clr-neutral-200)
  );
}

.bg-accent {
  --bg: var(--clr-neutral-100);
  --fg: var(--clr-neutral-400);
  --pop: var(--clr-neutral-100);

  color: var(--clr-neutral-100);
  background: linear-gradient(
    -45deg,
    var(--clr-accent-400),
    var(--clr-primary-500)
  );
}

.bg-dark {
  --bg: var(--clr-primary-400);
  --fg: var(--clr-neutral-100);
  --pop: var(--clr-neutral-100);

  color: var(--clr-neutral-100);
  background: var(--clr-neutral-400);
}

/* ///////////////
  Buttons
  ////////////// */

.button {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  text-transform: uppercase;
  font-weight: 700;
  background: var(--bg, var(--clr-primary-400));
  color: var(--fg, var(--clr-neutral-100));
}

/* ///////////////
  Plans
  ////////////// */

/*
  Notice that the naming convention here is BEM.
  BEM is ok but CSS doesn't care, all of these classes are globally available and can be used anywhere.
*/

.pricing {
  padding: 3em 0 6em 0;
}

.plans {
  display: flex;
  justify-content: center;
  margin: 3em 0;
}

.plan {
  width: 275px;
  padding: 2em 3em;
  border-radius: 1em;
}

.plan__title {
  text-transform: uppercase;
  margin: 0 0 1em;
}

.plan__price {
  font-size: 3rem;
  line-height: 1;
  font-weight: 900;
  margin: 0;
  color: var(--pop);
}

.plan__price span {
  display: block;
  font-size: 1.5625rem;
  font-weight: 300;
}

.plan__description {
  margin: 2em 0;
  line-height: 1.5;
}

.pricing > a[class="button"] {
  margin-top: 0.75em;
}

/* ///////////////
  Teams
  ////////////// */

/*
  Here we don't use BEM, we just use CSS classes and combinators to select what we need.
  This scopes our declarations to a specific class, which is good if we don't want all our classes to be globally accessible.
*/

.team {
  background: #fafafa;
  padding: 3em 0 6em 0;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4em;
}

.team-member {
  text-align: left;
  flex: 1 1 45%;
  margin: 1em;
  display: flex;
  border-radius: 0.5em;
  align-items: center;
  padding: 0.5em 2em 0.5em 0.5em;
  line-height: 1.6;
}

/* I can't use these styles anywhere, this only works for img elements that are inside an element with the class of "team-member" */
.team-member img {
  width: 10rem;
  border-radius: 0.25em;
  margin-right: 0.5rem;
}

.team-member .name {
  font-size: 1.75rem;
  margin: 0;
  color: var(--pop);
  line-height: 1;
}

.team-member .position {
  font-size: 0.875rem;
  margin: 0;
  font-weight: 700;
  opacity: 0.8;
}

.team-member--mirrored {
  padding: 0.5em 0.5em 0.5em 2em;
}

/* 
  With Flex we can take advantage of moving things around with the "order" property.
  Use it to make visual changes to the page that doesn't affect the content.
*/

.team-member--mirrored img {
  order: 2;
  margin-left: 0.5rem;
  margin-right: 0;
}
