/*

# Design Specifications | Magic site v1

## Colors

- Neutral Dark: #171717
- Neutral white: #fff
- Accent: #59E89C

## Typogrpahy

### Font family

- PT Sans
- weights: 400 + 700

### Font sizes

- h1: 36px
- p: 20px
- button: 18px

*/

:root {
  --clr-neutral-dark: #171717;
  --clr-neutral-white: #fff;
  --clr-accent: #59e89c;

  --fw-400: 400;
  --fw-700: 700;
}

/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
span,
a {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  margin: 0;
  padding: 0;
}

/* PAGE STYLES */

body {
  font-family: "PT Sans", sans-serif;
  color: var(--clr-neutral-dark);
  text-align: center;
  height: 100dvh;
  min-inline-size: 20em;
}

body main {
  height: inherit;
}

.hero {
  height: inherit;
  display: grid;
  place-items: center;
  background: url("../code/assets/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content {
  max-inline-size: 50em;
  padding: 3em;
  background: var(--clr-neutral-white);
}

.content h1 {
  font-weight: var(--fw-400);
  font-size: 2.25rem;
}

.content h1 strong {
  font-weight: var(--fw-700);
}

.content p {
  font-size: 1.25rem;
  margin-block: 1.5em;
}

.button {
  font-size: 1.125rem;
  text-decoration: none;
  cursor: pointer;
  background: var(--clr-accent);
  color: var(--clr-neutral-dark);
  font-weight: var(--fw-700);
  letter-spacing: 0.125em;
  text-transform: uppercase;
  padding: 0.75em 2.25em;
  display: inline-block;
}
