/* CSS VARS */

:root {
  --clr-white: #ffffff;

  --clr-base-400: #5e5e5e;
  --clr-base-500: #494949;

  --clr-ui-300: #f8e2ff;
  --clr-ui-400: #580d3a;
  --clr-ux-300: #e2ffea;
  --clr-ux-400: #115926;
  --clr-dev-300: #e2fcff;
  --clr-dev-400: #024f4f;

  --ff-accent: "Podkova", serif;
  --ff-base: "Open Sans", sans-serif;

  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 2rem;

  --fw-400: 400;
  --fw-700: 700;

  --shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  --border-radius: 0.75rem;
}

/* CSS RESET */

*,
*::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* PAGE STYLES */

body {
  background: #ececec;
  font-family: var(--ff-base);
  font-size: var(--fs-400);
}

.cantidates {
  display: grid;
  min-inline-size: 22.5em;
  max-inline-size: 70em;
  padding: 0.5em;
  gap: 0.5em;
  margin-inline: auto;

  @media (width > 50em) {
    grid-template-columns: 1fr 1fr;
  }
}

.candidate {
  background: var(--clr-white);
  display: grid;
  grid-template-areas:
    "img img"
    "name name"
    "roles roles"
    "bio bio"
    "socials button";
  padding: 0.5em;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);

  @media (width > 500px) {
    grid-template-areas:
      "img name"
      "img roles"
      "img bio"
      "socials bio"
      ". button";
    column-gap: 0.5em;
    grid-template-rows: min-content min-content min-content 1fr auto;
  }
}

.candidate .name {
  grid-area: name;
}
.candidate > img {
  grid-area: img;
}
.candidate .roles {
  grid-area: roles;
}
.candidate .bio {
  grid-area: bio;
}
.candidate .socials {
  grid-area: socials;
}
.candidate .button {
  grid-area: button;
}

.candidate .name,
.candidate .roles,
.candidate .bio {
  margin: 0;
}

.candidate .name {
  font-family: var(--ff-accent);
  font-size: var(--fs-500);
  color: var(--clr-base-500);
}

.candidate > img {
  border-radius: var(--border-radius);
}

.candidate .roles {
  font-size: var(--fs-300);
  font-weight: var(--fw-700);
}

.candidate .roles span {
  display: inline-block;
}

.candidate .bio {
  color: var(--clr-base-400);
  margin-block: 0.5em;
}

.candidate .socials {
  margin: 0;
  padding: 1em 0 0.5em 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.candidate .socials li:hover,
.candidate .socials li:focus {
  opacity: 0.5;
}

.candidate .button {
  justify-self: end;
}

/* Generic classes */

.tag {
  border-radius: var(--border-radius);
  padding: 0.25em 1em;
  color: var(--fg, var(--clr-white));
  background: var(--bg, var(--clr-base-400));
}

.ux {
  --bg: var(--clr-ux-300);
  --fg: var(--clr-ux-400);
}

.ui {
  --bg: var(--clr-ui-300);
  --fg: var(--clr-ui-400);
}

.dev {
  --bg: var(--clr-dev-300);
  --fg: var(--clr-dev-400);
}

.button {
  background: var(--bg, var(--clr-ui-400));
  color: var(--fg, var(--clr-ui-300));
  font-weight: var(--fw-700);
  text-transform: uppercase;
  padding: 0.5em 2em;
  border-radius: var(--border-radius);
  text-decoration: none;
  cursor: pointer;
}
